{% extends "default/index.html.jinja2" %}
<style type="text/css">
    {% block style_theme %}
        {{ super() }}
        @media (prefers-color-scheme: dark) {
            :root {
                --pdoc-background: #212529;
            }
            .pdoc {
                --text: #f7f7f7;
                --accent: #333;
                --active: #9e7700;
            }
        }
    {% endblock %}
</style>
